.body, h1, h2, h4, .no-pointer {
  cursor: default;
}

.footer {
  position absolute;
  font-size: 1rem;
  color: grey;
  text-align: right;
  font-style: italic;
  padding-right: 1rem;
}

.main-image {
  width: 100% !important;
}

.wrapper-main-image {
  margin-top: 1rem;
  margin-right: 28px;
  height: 300px;
  background-image: url("./main-ledger.jpg");
  background-repeat: no-repeat;
  background-position: right;
  transition: clip-path ease-out 0.15s;
  clip-path: inset(0 0 0 260px);
}

.main-image-overlay {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  opacity: 0;
  transition: opacity linear 0.11s;
}

.overlay-width-ledger {
  padding-left: 246px;
}

.overlay-width-ledger:before {
  content: '17"';
}

.overlay-height-ledger {
  position: absolute;
  padding-top: 8rem;
  padding-left: 46px;
}

.overlay-height-ledger:before {
  content: '11"';
}

.overlay-width-letter {
  padding-left: 355px;
}

.overlay-width-letter:before {
  content: '8,5"';
}

.overlay-height-letter {
  position: absolute;
  padding-top: 8rem;
  padding-left: 430px;
}

.overlay-height-letter:before {
  content: '11"';
}

